* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(115deg, #fff1ff 48%, #f3533b 48% 55%, #fb7248 55%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-container {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 5px;
  border-bottom: 1px solid #90979f38;
}

.type-tile {
  width: fit-content;
  padding: 5px 6px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Extra small devices (phones, portrait) */
@media (max-width: 449.98px) {
  .type-tile {
    font-size: 16px;
  }
}

@media (min-width: 450px) and (max-width: 479.98px) {
  .type-tile {
    font-size: 16px;
  }
}

@media (min-width: 480px) and (max-width: 527.98px) {
  .type-tile {
    font-size: 16px;
  }
}

@media (min-width: 528px) and (max-width: 575.98px) {
  .type-tile {
    font-size: 18px;
  }
}

/* Extra small devices (phones, portrait) & Small devices (phones, landscape) */
@media (max-width: 767.98px) {
  .app-container {
    background: linear-gradient(135deg, #fff1ff 10%, #f3533b 10% 20%, #fb7248 20%);
  }
}
