.list-container {
  height: 86vh;
  position: absolute;
  top: 80px;
  right: 30px;
  overflow-y: scroll;
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #910305;
}

::-webkit-scrollbar-thumb {
  background-color: #fb7248;
}

/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) {
  .list-container {
    right: 20px;
  }
}

/* Small devices (phones, landscape) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, portrait) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (tablets, landscape & desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}
