.page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #fff1ff 8%, #f3533b 8% 23%, #fb7248 23% 77%, #f3533b 77% 92%, #fff1ff 92%);
  /* background: linear-gradient(135deg, #fefdfd 8%, #fe4c3f 8% 23%, #fe6e3f 23% 77%, #fe4c3f 77% 92%, #fefdfd 92%); */
}

.back-icon {
  color: white;
  font-size: 28px;
  position: fixed;
  top: 5%;
  right: 5%;
}

.back-icon:hover {
  cursor: pointer;
  filter: drop-shadow(2px 4px 12px black);
}

.image-container > img {
  filter: drop-shadow(2px 4px 12px black);
  max-width: 400px;
  /* border: 1px solid blue; */
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  color: white;
  padding: 0 10px;
  height: 65px;
  border-radius: 5px;
  background: linear-gradient(135deg, #f0501d 40%, black 40%);
  /* background: linear-gradient(135deg, #ff5500 40%, black 40%); */
  width: 100%;
  margin-bottom: 10px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
}

.icon {
  margin-right: 10px;
  width: 45px;
}

.pokeball {
  width: 30px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
  width: 600px;
}

.genus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dbdbd9;
  line-height: 2.4;
  width: 90%;
  font-size: 20px;
  font-weight: 500;
}

.page .stats-container {
  display: flex;
  width: 90%;
}

.page .stats-left {
  background: #dbdbd9;
  text-align: center;
}

.page .stats-right {
  background: #fff;
}

.page .stats-left,
.page .stats-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 20px;
  font-weight: 500;
}

.page .stats-left > p,
.page .stats-right > p,
.ability-container {
  padding: 10px;
  border-bottom: 1px solid #90979f38;
}

.ability-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #90979f38;
  padding: 10px;
}

/* .ability-container {
  padding: 10px;
  border-bottom: 1px solid #90979f38;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.ability {
  text-transform: capitalize;
}

.flavor-text-container {
  background: #fff;
  padding: 20px;
  width: 90%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-stats-container {
  padding: 10px 20px;
  background-color: #5a5a58;
  width: 90%;
}

.base-stat {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.4;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.base-stat .stat-name {
  text-transform: capitalize;
  width: 40%;
}

.base-stat .stat-value {
  text-align: end;
  width: 10%;
}

.base-stat progress {
  height: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-value {
  background-color: #2fce34;
}

progress::-moz-progress-bar {
  background-color: #2fce34;
}

progress::-ms-fill {
  background-color: #2fce34;
}
