.card-container {
  position: relative;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.card {
  display: flex;
  align-items: center;
  width: 40%;
  height: 55px;
  margin: 10px 0;
  padding: 5px 20px;
  font-size: 24px;
  font-weight: 700;
}

.card:hover {
  background: linear-gradient(135deg, #f0501d 40%, black 40%);
  border-radius: 50px;
  cursor: pointer;
  color: white;
}

.card:hover > :nth-child(3) {
  filter: invert(1);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
}

.icon {
  margin-right: 10px;
  width: 45px;
}

.name-wrapper {
  width: 30%;
}

.pokeball {
  width: 30px;
}

.preview {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 400px;
  height: 75vh;
  left: 10%;
  bottom: 10%;
  z-index: 1;
}

.preview > img {
  filter: drop-shadow(2px 4px 12px black);
  max-width: 350px;
}

.preview-header {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: -5%;
  padding: 0 10px;
  width: 110%;
  height: 65px;
  border-radius: 5px;
  background: linear-gradient(135deg, #f0501d 42%, black 42%);
}

.stats-container {
  display: flex;
  width: 100%;
}

.stats-left {
  background: #dbdbd9;
  text-align: center;
}

.stats-right {
  background: #fff;
}

.stats-left,
.stats-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 20px;
}

.stats-left > p,
.stats-right > p {
  font-size: 20px;
  font-weight: 500;
  /* text-transform: capitalize; */
  padding: 10px;
  border-bottom: 1px solid #90979f38;
}

.base-stats {
  display: flex;
  width: 100%;
  background: white;
}

.base-stats > div {
  text-align: center;
  width: 100%;
}

.stats {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 45px;
  background: #5a5a58;
  color: white;
}

.stats:nth-child(1),
.stats:nth-child(2),
.stats:nth-child(3),
.stats:nth-child(4),
.stats:nth-child(5) {
  border-bottom: 1px solid white;
}

/* Extra small devices (phones, portrait) */
@media (max-width: 399.98px) {
  .card-container {
    margin-right: 0px;
    margin-left: 20px;
  }

  .card {
    width: 100%;
    font-size: 16px;
  }

  .card:hover {
    background: linear-gradient(135deg, #f0501d 45%, black 45%);
  }

  .preview {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 449.98px) {
  .card-container {
    margin-right: 0px;
    margin-left: 20px;
  }

  .card {
    width: 100%;
    font-size: 18px;
  }

  .card:hover {
    background: linear-gradient(135deg, #f0501d 44%, black 44%);
  }

  .preview {
    display: none;
  }
}

@media (min-width: 450px) and (max-width: 479.98px) {
  .card-container {
    margin-right: 0px;
    margin-left: 20px;
  }

  .card {
    width: 100%;
    font-size: 20px;
  }

  .card:hover {
    background: linear-gradient(135deg, #f0501d 43%, black 43%);
  }

  .preview {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 527.98px) {
  .card-container {
    margin-left: 20px;
  }

  .card {
    width: 100%;
    font-size: 22px;
  }

  .card:hover {
    background: linear-gradient(135deg, #f0501d 43%, black 43%);
  }

  .preview {
    display: none;
  }
}

@media (min-width: 528px) and (max-width: 575.98px) {
  .card-container {
    margin-left: 20px;
  }

  .card {
    width: 100%;
  }

  .card:hover {
    background: linear-gradient(135deg, #f0501d 42%, black 42%);
  }

  .preview {
    display: none;
  }
}

/* Small devices (phones, landscape) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-container {
    margin-left: 30px;
  }

  .card {
    width: 100%;
  }

  .preview {
    display: none;
  }
}

/* Medium devices (tablets, portrait) */
@media (min-width: 768px) and (max-width: 849.98px) {
  .card {
    font-size: 15px;
  }

  .card:hover {
    background: linear-gradient(120deg, #f0501d 44.4%, black 44.4%);
  }

  .icon-wrapper {
    width: 45%;
  }

  .name-wrapper {
    width: 35%;
  }

  .card-icon {
    margin-right: 5px;
  }

  .preview {
    width: 350px;
    left: 8%;
  }

  .preview-header {
    font-size: 22px;
    background: linear-gradient(135deg, #f0501d 44.2%, black 44.2%);
  }

  .stats-left,
  .stats-right {
    font-size: 18px;
  }

  .stats-left > p,
  .stats-right > p {
    font-size: 18px;
  }
}

@media (min-width: 850px) and (max-width: 874.98px) {
  .card {
    font-size: 17px;
  }

  .card:hover {
    background: linear-gradient(120deg, #f0501d 44.4%, black 44.4%);
  }

  .icon-wrapper {
    width: 45%;
  }

  .name-wrapper {
    width: 35%;
  }

  .card-icon {
    margin-right: 5px;
  }

  .preview {
    width: 350px;
    left: 8%;
  }

  .preview-header {
    font-size: 22px;
    background: linear-gradient(135deg, #f0501d 44.2%, black 44.2%);
  }

  .stats-left,
  .stats-right {
    font-size: 18px;
  }

  .stats-left > p,
  .stats-right > p {
    font-size: 18px;
  }
}

@media (min-width: 875px) and (max-width: 949.98px) {
  .card {
    font-size: 18px;
  }

  .card:hover {
    background: linear-gradient(135deg, #f0501d 44.4%, black 44.4%);
  }

  .icon-wrapper {
    width: 45%;
  }

  .name-wrapper {
    width: 35%;
  }

  .card-icon {
    margin-right: 5px;
  }

  .preview {
    width: 350px;
  }

  .preview-header {
    font-size: 22px;
    background: linear-gradient(135deg, #f0501d 44.2%, black 44.2%);
  }

  .stats-left,
  .stats-right {
    font-size: 18px;
  }

  .stats-left > p,
  .stats-right > p {
    font-size: 18px;
  }
}

/* Large devices (tablets, landscape & desktops) */
@media (min-width: 950px) and (max-width: 1049.98px) {
  .card {
    font-size: 18px;
  }

  .card:hover {
    background: linear-gradient(135deg, #f0501d 43%, black 43%);
  }
}

@media (min-width: 1050px) and (max-width: 1149.98px) {
  .card {
    font-size: 20px;
  }

  .card:hover {
    background: linear-gradient(135deg, #f0501d 42%, black 42%);
  }
}

@media (min-width: 1150px) and (max-width: 1199.98px) {
  .card {
    font-size: 22px;
  }
}
