.list-container {
  height: 86vh;
  position: absolute;
  top: 80px;
  right: 30px;
  overflow-y: scroll;
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #910305;
}

::-webkit-scrollbar-thumb {
  background-color: #fb7248;
}

/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) {
  .list-container {
    right: 20px;
  }
}
