.list-container {
  height: 86svh;
  position: absolute;
  top: 80px;
  right: 30px;
  overflow-y: scroll;
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #910305;
}

::-webkit-scrollbar-thumb {
  background-color: #fb7248;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  font-size: 20px;
  background-color: #f3533b;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) {
  .list-container {
    right: 20px;
  }
}
