.page-container {
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #fff1ff 8%, #f3533b 8% 23%, #fb7248 23% 77%, #f3533b 77% 92%, #fff1ff 92%);
}

.back-icon {
  color: white;
  font-size: 28px;
  position: fixed;
  top: 3%;
  right: 5%;
}

.back-icon:hover {
  cursor: pointer;
  filter: drop-shadow(2px 4px 12px black);
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100vw;
  padding: 30px 10px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container > img {
  filter: drop-shadow(2px 4px 12px black);
  max-width: 400px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
  max-width: 550px;
}

.info-header {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  color: white;
  padding: 10px;
  height: 65px;
  border-radius: 5px;
  background: linear-gradient(135deg, #f0501d 40%, black 40%);
  width: 100%;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
}

.icon {
  margin-right: 10px;
  width: 45px;
}

.pokeball {
  width: 30px;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90%;
  font-size: 20px;
  font-weight: 500;
}

.genus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dbdbd9;
  line-height: 2.4;
  padding: 5px;
  width: 100%;
}

.page-content .stats-container {
  display: flex;
  width: 100%;
}

.page-content .stats-left {
  background: #dbdbd9;
  text-align: center;
}

.page-content .stats-right {
  background: #fff;
}

.page-content .stats-left,
.page-content .stats-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.page-content .stats-left > p,
.page-content .stats-right > p,
.ability-container {
  padding: 10px;
  border-bottom: 1px solid #90979f38;
}

.ability-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #90979f38;
  padding: 10px;
}

.ability {
  text-transform: capitalize;
}

.info-icon {
  font-size: 18px;
}

.info-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.flavor-text-container {
  background: #fff;
  padding: 20px;
  width: 100%;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-stats-container {
  padding: 10px 20px;
  background-color: #5a5a58;
  width: 100%;
}

.base-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.4;
  color: white;
}

.base-stat .stat-name {
  text-transform: capitalize;
  width: 30%;
}

.base-stat .stat-value {
  text-align: end;
  width: 15%;
}

.base-stat progress {
  height: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-value {
  background-color: #2fce34;
}

progress::-moz-progress-bar {
  background-color: #2fce34;
}

progress::-ms-fill {
  background-color: #2fce34;
}

/* Extra small devices (phones, portrait) */
@media (max-width: 449.98px) {
  .page-content {
    flex-direction: column;
    gap: 20px;
  }

  .image-container > img {
    max-width: 250px;
  }

  .info-container {
    width: 100%;
    max-width: 380px;
  }

  .info-header {
    font-size: 20px;
    background: linear-gradient(135deg, #f0501d 45%, black 45%);
  }

  .info-content {
    font-size: 16px;
  }

  .base-stat progress {
    height: 16px;
  }
}

@media (min-width: 450px) and (max-width: 479.98px) {
  .page-content {
    flex-direction: column;
    gap: 20px;
  }

  .image-container > img {
    max-width: 300px;
  }

  .info-container {
    width: 100%;
    max-width: 450px;
  }

  .info-header {
    font-size: 22px;
  }

  .info-content {
    font-size: 16px;
  }

  .base-stat progress {
    height: 16px;
  }
}

@media (min-width: 480px) and (max-width: 527.98px) {
  .page-content {
    flex-direction: column;
    gap: 20px;
  }

  .image-container > img {
    max-width: 300px;
  }

  .info-container {
    width: 100%;
    max-width: 450px;
  }

  .info-header {
    font-size: 22px;
  }

  .info-content {
    font-size: 16px;
  }

  .base-stat progress {
    height: 16px;
  }
}

@media (min-width: 528px) and (max-width: 575.98px) {
  .page-content {
    flex-direction: column;
    gap: 20px;
  }

  .image-container > img {
    max-width: 300px;
  }

  .info-container {
    width: 100%;
    max-width: 500px;
  }

  .info-header {
    font-size: 24px;
  }

  .info-content {
    font-size: 18px;
  }

  .base-stat progress {
    height: 18px;
  }
}

/* Small devices (phones, landscape) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .page-content {
    flex-direction: column;
    gap: 20px;
  }

  .image-container > img {
    max-width: 350px;
  }

  .info-container {
    width: 100%;
  }
}

/* Medium devices (tablets, portrait) */
@media (min-width: 768px) and (max-width: 849.98px) {
  .page-content {
    flex-direction: column;
    gap: 20px;
  }

  .image-container > img {
    max-width: 350px;
  }

  .info-container {
    width: 100%;
  }
}

@media (min-width: 850px) and (max-width: 889.98px) {
  .page-content {
    flex-direction: column;
    gap: 20px;
  }

  .image-container > img {
    max-width: 350px;
  }

  .info-container {
    width: 100%;
  }
}
